@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #0069d9;
}
.conteudo{
    height: 100px;
    width: 400px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: space-evenly;
}
.conteudo .opcao{
    background: #fff;
    height: 100%;
    width: 100%;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3 ease;
}
#opcao-1:checked ~ .opcao-1, 
#opcao-2:checked ~ .opcao-2{
    border-color: #0069d9;
    background: #0069d9;
}
.conteudo .opcao .ponto{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    transition: all 0.3 ease;
}
#opcao-1:checked ~ .opcao-1 .ponto, 
#opcao-2:checked ~ .opcao-2 .ponto{
    background: #fff;
}
.conteudo .opcao .ponto::before{
    position: absolute;
    content: "";
    left: 4px;
    top: 4px;
    height: 12px;
    width: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3 ease;
}
#opcao-1:checked ~ .opcao-1 .ponto::before, 
#opcao-2:checked ~ .opcao-2 .ponto::before{
    opacity: 1;
    transform: scale(1);
}
.conteudo .opcao span{
    color: #808080;
    font-size: 20px;
}
#opcao-1:checked ~ .opcao-1 span, 
#opcao-2:checked ~ .opcao-2 span{
    color: #fff;
}
.conteudo input[type="radio"]{
    display: none;
}